@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Redressed&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #61764B;
    display: flex;
    font-family: 'Akaya Telivigala', cursive;
    justify-content: center;
    min-height: 100vh;
    color: #F5F5DC;
}

p {
    font-size: calc(1vw + 1.5rem);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "title title"
    "playerOne playerTwo"
    "footer footer";
    text-align: center;
    width: 70%;
}

.title-wrapper {
    font-family: 'Redressed', cursive;
    grid-area: title;
    margin-top: 1.5rem;
    padding-bottom: 3rem;
}

.title {
    display: inline-block;
    font-size: 3.5rem;
}

.playerOne {
    grid-area: playerOne;
}

.playerTwo {
    grid-area: playerTwo;
}

.footer {
    grid-area: footer;
}

.dice {
    padding-top: 1rem;
}

.flag {
    position: relative;
    top: 2px;
    width: 10%;
}

.leftFlag {
    transform: scaleX(-1);
}

.refreshMeBtn {
    background-color: #F5F5DC;
    border-radius: 30px;
    box-shadow: 0 5px #999;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: calc(1vw + 1em);
    margin-top: 3rem;
    padding: 0.5rem;
    width: 30%;
}

.refreshMeBtn:focus{
    outline: none;
}

.refreshMeBtn:hover {
    background-color: #F5F5DC;
}

.refreshMeBtn:active {
    background-color: #000;
    color: #F5F5DC;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.creator {
    font-size: 1.2em;
    padding-top: 2rem;
}

img{
    width: 50%;
}

@media(max-width: 600px){

    p {
        font-size: 2em;
    }

    .container {
        width: 90%;
    }

    .title {
        font-size: 1.8em;
    }

    .dice{
        width: 75%;
    }

    .refreshMeBtn {
        font-size: 1.5em;
        width: 60%;
    }

    .creator {
        font-size: 1rem;
    }
}
